@import "vanilla-framework/scss/settings_colors";

.truncated {
  max-width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: flex;
  gap: 0.5rem;
}

.statusWithIcon {
  align-items: center;
  display: inline-flex;
  gap: 1rem;
}

.tooltipIcon {
  transform: translateX(16px);
}
