VITE_API_URL=
VITE_API_URL_OLD=
VITE_API_URL_DEB_ARCHIVE=
VITE_ROOT_PATH=
VITE_SELF_HOSTED_ENV=
VITE_REPORT_VIEW_ENABLED=
VITE_DETAILED_UPGRADES_VIEW_ENABLED=
VITE_MSW_ENABLED=
VITE_MSW_ENDPOINTS_TO_INTERCEPT=
VITE_API_PROXY_TARGET=
VITE_DEBARCHIVE_PROXY_TARGET=