// Icons
// @import "vanilla-framework/scss/utilities_animations";
@include vf-u-animations;
@include vf-p-icon-pods;
@include vf-p-icon-spinner;
@include vf-p-icon-containers;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-edit;
@include vf-p-icon-change-version;
@include vf-p-icon-fork;
@include vf-p-icon-power-off;
@include vf-p-icon-restart;
@include vf-p-icon-status;
@include vf-p-icon-open-terminal;
@include vf-p-icon-units;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-warning-grey;
@include vf-p-icon-status-in-progress;
@include vf-p-icon-status-queued;
@include vf-p-icon-status-waiting;
@include vf-p-icon-pin;
@include vf-p-icon-lock-locked;
@include vf-p-icon-lock-locked-active;
@include vf-p-icon-lock-unlock;
@include vf-p-icon-switcher-dashboard;
@include vf-p-icon-machines;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-settings;
@include vf-p-icon-pause;
@include vf-p-icon-play;
@include vf-p-icon-change-version;
@include vf-p-icon-canvas;
@include vf-p-icon-inspector-debug;
@include vf-p-icon-applications;
@include vf-p-icon-video-play;
@include vf-p-icon-disconnect;
@include vf-p-icon-profile;
@include vf-p-icon-desktop;
@include vf-p-icon-private-key;
@include vf-p-icon-topic;
@include vf-p-icon-starred;
@include vf-p-icon-upload;
@include vf-p-icon-tidy;
@include vf-p-icon-file;
@include vf-p-icon-sort-both;
@include vf-p-icon-task-outstanding;
@include vf-p-icon-archive;
@include vf-p-icon-delete;
@include vf-p-icon-revisions;
@include vf-p-icon-file-blank;
@include vf-p-icon-security-tick;
@include vf-p-icon-filter;
@include vf-p-icon-arrow-up;
@include vf-p-icon-import;

@mixin vf-icon-okta($color) {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='256px' height='256px' viewBox='0 0 256 256' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3E%3Ctitle%3Eokta%3C/title%3E%3Cg%3E%3Cpath d='M140.84428,1.77777778 L135.578481,66.6311111 C133.0879,66.3466667 130.59732,66.2044444 128.03558,66.2044444 C124.833405,66.2044444 121.702389,66.4177778 118.642533,66.9155556 L115.653837,35.4844444 C115.582677,34.4888889 116.365431,33.6355556 117.361663,33.6355556 L122.698621,33.6355556 L120.136881,1.84888889 C120.065722,0.853333333 120.848476,0 121.773549,0 L139.207612,0 C140.203845,0 140.986598,0.853333333 140.84428,1.84888889 L140.84428,1.84888889 L140.84428,1.77777778 Z M96.8677434,4.97777778 C96.5831056,4.05333333 95.5868734,3.48444444 94.6618006,3.84 L78.2951286,9.81333333 C77.3700558,10.1688889 76.9430991,11.2355556 77.3700558,12.0888889 L90.6768718,41.1022222 L85.6245513,42.9511111 C84.6994785,43.3066667 84.2725218,44.3733333 84.6994785,45.2266667 L98.2909322,73.7422222 C103.200934,71.04 108.537892,68.9777778 114.159488,67.6977778 L96.9389028,4.97777778 L96.8677434,4.97777778 Z M56.7338171,23.04 L94.3771628,76.0888889 C89.6094801,79.2177778 85.268754,82.9155556 81.568463,87.1822222 L59.0109193,64.9955556 C58.2993249,64.2844444 58.3704843,63.1466667 59.0820788,62.5066667 L63.2093265,59.0933333 L40.7941017,36.4088889 C40.0825073,35.6977778 40.1536667,34.56 40.9364206,33.92 L54.2432366,22.7555556 C55.0259905,22.1155556 56.0933821,22.2577778 56.6626577,23.04 L56.7338171,23.04 Z M25.1390241,53.76 C24.3562702,53.1911111 23.2177191,53.4755556 22.719603,54.3288889 L14.0381509,69.4044444 C13.5400348,70.2577778 13.895832,71.3244444 14.7497453,71.7511111 L43.6404795,85.4044444 L40.9364206,90.0266667 C40.4383045,90.88 40.7941017,92.0177778 41.7191745,92.3733333 L70.4675897,105.528889 C72.5312136,100.195556 75.3064319,95.2177778 78.7220852,90.7377778 L25.1390241,53.76 Z M3.86235042,94.72 C4.00466931,93.7244444 5.00090152,93.1555556 5.92597429,93.3688889 L68.902082,109.795556 C67.2654148,115.128889 66.340342,120.746667 66.1980231,126.577778 L34.6743896,124.017778 C33.6781573,123.946667 32.9665629,123.022222 33.1800412,122.026667 L34.105114,116.764444 L2.29684266,113.777778 C1.30061044,113.706667 0.660175451,112.782222 0.802494339,111.786667 L3.79119098,94.6488889 L3.79119098,94.6488889 L3.86235042,94.72 Z M1.51408878,137.244444 C0.517856564,137.315556 -0.12257843,138.24 0.0197404578,139.235556 L3.07959654,156.373333 C3.22191543,157.368889 4.21814764,157.937778 5.14322041,157.724444 L36.026419,149.688889 L36.9514918,154.951111 C37.0938106,155.946667 38.0900429,156.515556 39.0151156,156.302222 L69.4713575,147.911111 C67.6923714,142.648889 66.5538203,137.031111 66.2691826,131.271111 L1.44292933,137.244444 L1.51408878,137.244444 Z M11.6187298,182.328889 C11.1206137,181.475556 11.4764109,180.408889 12.3303242,179.982222 L71.1080247,152.106667 C73.3139675,157.368889 76.3026641,162.275556 79.8606363,166.684444 L54.1009177,185.031111 C53.3181638,185.6 52.1796127,185.386667 51.6814966,184.533333 L48.9774377,179.84 L22.719603,197.973333 C21.9368491,198.542222 20.798298,198.257778 20.3001819,197.404444 L11.5475703,182.328889 L11.6187298,182.328889 Z M82.849333,170.097778 L37.0938106,216.391111 C36.3822162,217.102222 36.4533756,218.24 37.2361295,218.88 L50.6141049,230.044444 C51.3968588,230.684444 52.4642505,230.542222 53.033526,229.76 L71.5349814,203.733333 L75.6622291,207.217778 C76.444983,207.857778 77.5835341,207.715556 78.1528097,206.862222 L96.0849895,180.835556 C91.2461473,177.848889 86.7631024,174.222222 82.9204924,170.097778 L82.849333,170.097778 Z M73.8120836,244.408889 C72.8870108,244.053333 72.4600542,242.986667 72.8870108,242.133333 L99.9987589,182.968889 C104.97992,185.528889 110.388038,187.448889 116.009634,188.515556 L108.039776,219.093333 C107.826298,220.017778 106.758906,220.586667 105.833833,220.231111 L100.781513,218.382222 L92.313539,249.173333 C92.0289012,250.097778 91.032669,250.666667 90.1075962,250.311111 L73.7409242,244.337778 L73.7409242,244.337778 L73.8120836,244.408889 Z M120.492679,189.297778 L115.22688,254.151111 C115.15572,255.146667 115.938474,256 116.863547,256 L134.297611,256 C135.293843,256 136.076597,255.146667 135.934278,254.151111 L133.372538,222.364444 L138.709496,222.364444 C139.705728,222.364444 140.488482,221.511111 140.417323,220.515556 L137.428626,189.084444 C134.36877,189.582222 131.237755,189.795556 128.03558,189.795556 C125.47384,189.795556 122.983259,189.653333 120.492679,189.297778 L120.492679,189.297778 Z M183.255308,13.7244444 C183.682265,12.8 183.255308,11.8044444 182.330235,11.4488889 L165.963563,5.47555556 C165.03849,5.12 164.042258,5.68888889 163.75762,6.61333333 L155.289647,37.4044444 L150.237326,35.5555556 C149.312253,35.2 148.316021,35.7688889 148.031383,36.6933333 L140.061526,67.2711111 C145.754281,68.4088889 151.091239,70.3288889 156.072401,72.8177778 L183.255308,13.7244444 L183.255308,13.7244444 Z M218.977349,39.5377778 L173.221826,85.8311111 C169.379217,81.7066667 164.967331,78.08 160.057329,75.0933333 L177.989509,49.0666667 C178.558785,48.2844444 179.697336,48.0711111 180.48009,48.7111111 L184.607337,52.1955556 L203.108793,26.1688889 C203.678068,25.3866667 204.81662,25.2444444 205.528214,25.8844444 L218.906189,37.0488889 C219.688943,37.6888889 219.688943,38.8266667 219.048508,39.5377778 L218.977349,39.5377778 Z M243.740835,75.9466667 C244.665908,75.52 244.950546,74.4533333 244.45243,73.6 L235.699818,58.5244444 C235.201702,57.6711111 234.063151,57.4577778 233.280397,57.9555556 L207.022562,76.0888889 L204.318503,71.4666667 C203.820387,70.6133333 202.681836,70.3288889 201.899082,70.9688889 L176.139364,89.3155556 C179.697336,93.7244444 182.614873,98.6311111 184.891975,103.893333 L243.669676,76.0177778 L243.740835,75.9466667 Z M252.991563,99.5555556 L255.98026,116.693333 C256.122578,117.688889 255.482143,118.542222 254.485911,118.684444 L189.659658,124.728889 C189.37502,118.897778 188.236469,113.351111 186.457483,108.088889 L216.913725,99.6977778 C217.838798,99.4133333 218.83503,100.053333 218.977349,101.048889 L219.902422,106.311111 L250.78562,98.2755556 C251.710693,98.0622222 252.706925,98.6311111 252.849244,99.6266667 L252.849244,99.6266667 L252.991563,99.5555556 Z M250.074026,162.488889 C250.999098,162.702222 251.995331,162.133333 252.13765,161.137778 L255.126346,144 C255.268665,143.004444 254.62823,142.151111 253.631998,142.008889 L221.823727,139.022222 L222.748799,133.76 C222.891118,132.764444 222.250683,131.911111 221.254451,131.768889 L189.730817,129.208889 C189.588499,135.04 188.663426,140.657778 187.026759,145.991111 L250.002866,162.417778 L250.002866,162.417778 L250.074026,162.488889 Z M233.280397,201.6 C232.782281,202.453333 231.64373,202.666667 230.860976,202.168889 L177.277915,165.191111 C180.693568,160.711111 183.468786,155.733333 185.53241,150.4 L214.280826,163.555556 C215.205898,163.982222 215.561696,165.048889 215.063579,165.902222 L212.359521,170.524444 L241.250255,184.177778 C242.104168,184.604444 242.459965,185.671111 241.961849,186.524444 L233.280397,201.6 L233.280397,201.6 L233.280397,201.6 Z M161.622837,179.768889 L199.266183,232.817778 C199.835458,233.6 200.97401,233.742222 201.685604,233.102222 L214.99242,221.937778 C215.775174,221.297778 215.775174,220.16 215.134739,219.448889 L192.719514,196.764444 L196.846762,193.351111 C197.629516,192.711111 197.629516,191.573333 196.917921,190.862222 L174.360378,168.675556 C170.588927,172.942222 166.31936,176.711111 161.551678,179.768889 L161.551678,179.768889 L161.622837,179.768889 Z M161.26704,252.017778 C160.341967,252.373333 159.345735,251.804444 159.061097,250.88 L141.840512,188.16 C147.462108,186.88 152.799066,184.817778 157.709068,182.115556 L171.300522,210.631111 C171.727478,211.555556 171.300522,212.622222 170.375449,212.906667 L165.323128,214.755556 L178.629944,243.768889 C179.056901,244.693333 178.629944,245.688889 177.704871,246.044444 L161.338199,252.017778 L161.338199,252.017778 L161.26704,252.017778 Z' fill='#{vf-url-friendly-color($color)}'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.p-icon--okta {
  @extend %icon;
  @include vf-icon-okta($color-mid-dark);

  height: $sp-x-large;
  width: $sp-x-large;
}

@mixin vf-icon-ubuntu-one($color) {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' version='1.1'%0A%3E%3Cpath transform='translate(-4.5,-4.5)' d='m 5.7942846,4.5131 0,4.9024 c 0,4.0767 0.1432005,5.0526 0.3026357,5.7203 0.5993851,2.5103 2.211879,3.9494 4.8104377,4.2968 1.406656,0.188 4.247652,-0.03 6.481955,-0.4965 l 0.816402,-0.1676 0,-14.2554 -4.137139,-0.013 0,11.377 -4.1371452,0 0,-8.0156 -1.551431,0 2.0685772,-3.3586 z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E%0A");
}

.p-icon--ubuntu-one {
  @extend %icon;
  @include vf-icon-ubuntu-one($color-ubuntu);
}

.p-icon--private-key-gray {
  @extend %icon;
  @include vf-icon-private-key($color-mid-dark);
}

@mixin vf-icon-close-sidebar($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M12.5 14.9747L14 14.9747L14 1L12.5 1L12.5 14.9747ZM5.54288 3.26465L0.858296 7.94923L5.54288 12.6338L6.42676 11.7499L3.3753 8.69981L10.9014 8.69923L10.9014 7.19923L3.3753 7.19981L6.42676 4.14853L5.54288 3.26465Z'/%3E%3C/svg%3E");
}

.p-icon--close-sidebar {
  @extend %icon;
  @include vf-icon-close-sidebar($color-mid-dark);

  [class*="--dark"] &,
  &.is-light {
    @include vf-icon-close-sidebar($color-x-light);
  }
}

@mixin vf-icon-logout($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero' d='M1.32973 12.4804C0.965955 12.4804 0.653389 12.3507 0.392033 12.0912C0.130678 11.8317 0 11.5213 0 11.1602V1.32972C0 0.965938 0.130678 0.653372 0.392033 0.392017C0.653389 0.130672 0.965955 0 1.32973 0H6.24567V1.32972H1.32973V11.1602H6.24567V12.4804H1.32973ZM9.44857 9.50075L8.49638 8.5674L10.1587 6.90508H4.46668V5.58478H10.1254L8.46305 3.92247L9.41523 2.98912L12.6783 6.2616L9.44857 9.50075Z'/%3E%3C/svg%3E");
}

.p-icon--logout {
  @extend %icon;
  @include vf-icon-logout(#ffffff);
}

@mixin vf-icon-account($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1a4 4 0 014 4v.5a3.987 3.987 0 01-1.139 2.795 6 6 0 014.135 5.48L15 14H1a6.003 6.003 0 014.14-5.706A3.98 3.98 0 014 5.5V5a4 4 0 014-4zm1 8.5H7a4.502 4.502 0 00-4.203 2.888l-.04.112h10.486l-.03-.084a4.504 4.504 0 00-4-2.911L9 9.5zm-1-7a2.5 2.5 0 00-2.495 2.336L5.5 5v.5a2.5 2.5 0 004.995.164L10.5 5.5V5A2.5 2.5 0 008 2.5z' fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.p-icon--account {
  @extend %icon;
  @include vf-icon-account(#ffffff);
}

@mixin vf-icon-snapcraft() {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='64' viewBox='0 0 65 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4725_192297)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.6211 15.5605L50.4691 21.7145L36.6211 35.5625V15.5605Z' fill='%2382BFA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1836 62.0002L34.6156 37.5682L27.1616 30.1602L10.1836 62.0002Z' fill='%2382BFA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 2L35.45 36.736V14.632L0.5 2Z' fill='%2382BFA1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M57.5518 14.6309H37.4258L63.3018 26.1309L57.5518 14.6309Z' fill='%23FA6340'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4725_192297'%3E%3Crect width='64' height='64' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.p-icon--snapcraft {
  @extend %icon;
  @include vf-icon-snapcraft;
}

@mixin vf-icon-cluster($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1.07224L11.8451 3.29218L11.845 7.03123L14.805 8.73999V13.1799L10.9599 15.3998L8.00001 13.6902L5.04007 15.3998L1.19501 13.1799V8.73999L4.15401 7.03123L4.15494 3.29218L8 1.07224ZM5.04 8.25201L2.695 9.60601V12.313L5.04 13.667L7.11401 12.4682V9.44923L5.04 8.25201ZM10.959 8.25201L8.88501 9.44823V12.4692L10.959 13.667L13.304 12.313V9.60601L10.959 8.25201ZM8 2.80401L5.654 4.15801V6.86601L8 8.21901L10.345 6.86601V4.15801L8 2.80401Z' fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
}

.p-icon--cluster {
  @extend %icon;
  @include vf-icon-cluster(#ffffff);
}

@mixin vf-icon-bell($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.95577 1.79502C8.98452 1.70177 9 1.60269 9 1.5C9 0.947715 8.55228 0.5 8 0.5C7.44772 0.5 7 0.947715 7 1.5C7 1.60255 7.01544 1.7015 7.04411 1.79464C4.57 2.11426 3.24467 3.73558 3.25296 6.47665L3.25296 9.48815C3.25296 10.2187 2.71546 11.0259 1.5513 11.8951C0.973101 12.3268 1.27842 13.246 2 13.246H5.00994C5.13509 14.7878 6.42599 16 8 16C9.57402 16 10.8649 14.7878 10.9901 13.246H14.0019C14.7233 13.246 15.0287 12.3271 14.4508 11.8953C13.2877 11.0261 12.7507 10.2189 12.7507 9.48815V6.47439C12.7543 3.7358 11.4279 2.11546 8.95577 1.79502ZM6.52008 13.246H9.47992C9.36254 13.9574 8.74463 14.5 8 14.5C7.25537 14.5 6.63746 13.9574 6.52008 13.246ZM7.9984 3.23611C10.2563 3.23611 11.2536 4.22996 11.2507 6.4734V9.48815L11.2573 9.69045C11.3013 10.3624 11.5649 11.0102 12.0349 11.636L12.121 11.746H3.881L3.96803 11.6362C4.48555 10.9478 4.75296 10.2327 4.75296 9.48815V6.47439C4.74617 4.22918 5.74102 3.23611 7.9984 3.23611Z' fill='#{vf-url-friendly-color($color)}'/%3E%3C/svg%3E%0A");
}

.p-icon--bell {
  @extend %icon;
  @include vf-icon-bell(#ffffff);
}

@mixin vf-icon-instance-status-indicator($color) {
  background-image: url("data:image/svg+xml, %3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='8.6001' cy='8' r='4' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E");
}

.p-icon--regular-upgrades {
  @extend %icon;
  @include vf-icon-instance-status-indicator($color-caution);
}

.p-icon--security-upgrades {
  @extend %icon;
  @include vf-icon-instance-status-indicator($color-negative);
}

.p-icon--up-to-date {
  @extend %icon;
  @include vf-icon-instance-status-indicator($color-positive);
}

@mixin vf-icon-instance-warning($color) {
  background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M8.88791 1.12923C8.7928 0.945309 8.64294 0.795451 8.45902 0.700338C7.96845 0.446639 7.36511 0.638659 7.11141 1.12923L0.479915 13.9523C0.406485 14.0943 0.368164 14.2518 0.368164 14.4117C0.368164 14.9639 0.815879 15.4117 1.36816 15.4117H14.6312C14.791 15.4117 14.9485 15.3733 15.0905 15.2999C15.5811 15.0462 15.7731 14.4429 15.5194 13.9523L8.88791 1.12923ZM2.1892 13.9117L7.9992 2.67665L13.8092 13.9117H2.1892ZM8.49966 10.6985C8.74512 10.6985 8.94927 10.8754 8.9916 11.1087L8.99966 11.1985V12.1985C8.99966 12.444 8.82278 12.6481 8.58953 12.6905L8.49966 12.6985H7.49966C7.2542 12.6985 7.05005 12.5217 7.00771 12.2884L6.99966 12.1985V11.1985C6.99966 10.9531 7.17653 10.7489 7.40978 10.7066L7.49966 10.6985H8.49966ZM8.99966 9.39176V6.01943L6.99966 6.01943L6.99966 9.39176H8.99966Z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E");
}

.p-icon--package-reporter-alert {
  @extend %icon;
  @include vf-icon-instance-warning($color-negative);
}

.p-icon--package-profiles-alert {
  @extend %icon;
  @include vf-icon-instance-warning($color-caution);
}

.p-icon--contract-expiration-alert {
  @extend %icon;
  @include vf-icon-instance-warning($color-caution);
}

@mixin vf-icon-reboot($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M8.75 6.95323L8.74961 0.150024L7.24961 0.438024L7.25 6.95323H8.75ZM15 8.00002C15 5.20358 13.3602 2.79012 10.9897 1.66877L10.9898 3.38283C12.5006 4.36314 13.5 6.06487 13.5 8.00002C13.5 11.0376 11.0376 13.5 8 13.5C4.96243 13.5 2.5 11.0376 2.5 8.00002C2.5 6.09413 3.46942 4.41465 4.94207 3.42778L4.94223 1.70142C2.60847 2.8365 1 5.23042 1 8.00002C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8.00002Z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E");
}

.p-icon--power-off-color {
  @extend %icon;
  @include vf-icon-reboot($color-negative);
}

@mixin vf-icon-disconnected($color) {
  background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M7.70507 3.00855L7.07701 0.0526733C6.57184 0.110711 6.08098 0.215805 5.60893 0.363461L6.2382 3.31925C6.69866 3.14585 7.19146 3.03844 7.70507 3.00855ZM15.5607 1.5L14.5001 0.439336L12.4534 2.48526C11.652 2.18351 10.713 2.35509 10.0681 3L7.39131 5.67677L10.5733 8.85875L13.2501 6.18198C13.9884 5.44362 14.1063 4.31978 13.6038 3.4583L15.5607 1.5ZM9.10883 10.3232L5.92685 7.14124L3.25007 9.81802C2.60517 10.4629 2.43359 11.4019 2.73534 12.2033L0.439411 14.5L1.50007 15.5607L3.70838 13.3537C4.56986 13.8563 5.6937 13.7383 6.43205 13L9.10883 10.3232ZM10.3892 15.6372L9.76194 12.6807C9.30099 12.8543 8.80763 12.9618 8.29343 12.9915L8.92239 15.9474C9.42711 15.8895 9.91755 15.7846 10.3892 15.6372ZM12.026 10.9656L14.1617 13.1027C13.8422 13.4881 13.4872 13.843 13.1018 14.1625L10.9657 12.026C11.37 11.7277 11.7277 11.3699 12.026 10.9656ZM4.31073 10.8787L5.92647 9.26169L6.98713 10.3223L5.37139 11.9393L5.29459 12.0065C5.00062 12.2302 4.57922 12.2078 4.31073 11.9393L4.24361 11.8625C4.01987 11.5686 4.04225 11.1472 4.31073 10.8787ZM12.9857 8.38151L15.9303 9.06111C15.8636 9.56456 15.7501 10.0532 15.5942 10.5226L12.6493 9.84337C12.831 9.38542 12.947 8.89426 12.9857 8.38151ZM0.406063 5.47695L3.35122 6.15567C3.16919 6.61411 3.05301 7.10586 3.01435 7.61924L0.0698242 6.93888C0.136564 6.43528 0.250151 5.94646 0.406063 5.47695ZM11.1288 4.06066L11.2056 3.99354C11.4995 3.7698 11.9209 3.79217 12.1894 4.06066L12.2565 4.13746C12.4803 4.43143 12.4579 4.85283 12.1894 5.12132L10.5737 6.73689L9.51301 5.67623L11.1288 4.06066ZM2.89765 1.83812L5.03445 3.97404C4.62983 4.27259 4.27182 4.63068 3.97337 5.03538L1.83737 2.89857C2.15696 2.51293 2.51205 2.15778 2.89765 1.83812Z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E");
}

.p-icon--disconnect-color {
  @extend %icon;
  @include vf-icon-disconnected($color-negative);
}

@mixin vf-icon-duplicates($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 2C11.3284 2 12 2.67157 12 3.5V9.5C12 10.3284 11.3284 11 10.5 11H2.5C1.67157 11 1 10.3284 1 9.5V3.5C1 2.67157 1.67157 2 2.5 2H10.5ZM13.5 4C14.3284 4 15 4.67157 15 5.5V12.5C15 13.3284 14.3284 14 13.5 14H4.5C3.67259 14 3.00165 13.3301 3 12.503L12.5036 12.5036C13.0279 12.5036 13.458 12.1 13.5002 11.5866L13.5 4ZM2.5 3.5H10.5V9.5H2.5V3.5Z' fill='#{vf-url-friendly-color($color)}'%3E%3C/path%3E%3C/svg%3E");
}

.p-icon--canvas-color {
  @extend %icon;
  @include vf-icon-duplicates($color-negative);
}

@mixin vf-icon-online($color) {
  background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M15.5608 1.49999L14.5001 0.439331L12.4534 2.48526C11.652 2.18351 10.713 2.35509 10.0681 2.99999L7.39136 5.67677L10.5733 8.85875L13.2501 6.18197C13.9885 5.44362 14.1064 4.31978 13.6039 3.4583L15.5608 1.49999ZM9.10887 10.3232L5.92689 7.14123L3.25011 9.81801C2.60521 10.4629 2.43363 11.4019 2.73538 12.2033L0.439453 14.5L1.50011 15.5607L3.70842 13.3537C4.5699 13.8563 5.69374 13.7383 6.43209 13L9.10887 10.3232Z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E");
}

.p-icon--connected-color {
  @extend %icon;
  @include vf-icon-online(#24598f);
}

@mixin vf-icon-computer-esm($color) {
  background-image: url("data:image/svg+xml, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15C11.866 15 15 11.866 15 8ZM2.5 8C2.5 4.96243 4.96243 2.5 8 2.5C11.0376 2.5 13.5 4.96243 13.5 8C13.5 11.0376 11.0376 13.5 8 13.5C4.96243 13.5 2.5 11.0376 2.5 8ZM8.5 10C8.74546 10 8.94961 10.1769 8.99194 10.4101L9 10.5V11.5C9 11.7455 8.82312 11.9496 8.58988 11.9919L8.5 12H7.5C7.25454 12 7.05039 11.8231 7.00806 11.5899L7 11.5V10.5C7 10.2545 7.17688 10.0504 7.41012 10.0081L7.5 10H8.5ZM8.75 8.78937V3.8889H7.25V8.78937H8.75Z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E ");
}

.p-icon--computer-esm-disabled-alert-color {
  @extend %icon;
  @include vf-icon-computer-esm($color-caution);
}

.p-icon--computer-esm-disabled-alert {
  @extend %icon;
  @include vf-icon-computer-esm($color-mid-dark);
}

@mixin vf-icon-computer-pending($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fillRule='evenodd' clipRule='evenodd' d='M5.5 3.02393H4V12.9917H5.5V3.02393ZM11.5 3.02393H10V12.9917H11.5V3.02393Z' fill='#{vf-url-friendly-color($color)}' /%3E%3C/svg%3E");
}

.p-icon--pause-color {
  @extend %icon;
  @include vf-icon-computer-pending(#24598f);
}

@mixin vf-icon-contextual-menu($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='16' viewBox='0 0 4 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.5 2.00934C3.5 1.18091 2.82843 0.509338 2 0.509338C1.17157 0.509338 0.5 1.18091 0.5 2.00934C0.5 2.83777 1.17157 3.50934 2 3.50934C2.82843 3.50934 3.5 2.83777 3.5 2.00934ZM2 6.5C2.82843 6.5 3.5 7.17157 3.5 8C3.5 8.82842 2.82843 9.5 2 9.5C1.17157 9.5 0.5 8.82842 0.5 8C0.5 7.17157 1.17157 6.5 2 6.5ZM2 12.4907C2.82843 12.4907 3.5 13.1622 3.5 13.9907C3.5 14.8191 2.82843 15.4907 2 15.4907C1.17157 15.4907 0.5 14.8191 0.5 13.9907C0.5 13.1622 1.17157 12.4907 2 12.4907Z' fill='#{vf-url-friendly-color($color)}'/%3E%3C/svg%3E%0A");
}

.p-icon--contextual-menu {
  @extend %icon;
  @include vf-icon-contextual-menu($color-mid-dark);
}

@mixin vf-icon-google($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6398 14.56V18.9333H27.0932C26.7732 21.3867 25.9558 23.1827 24.7105 24.444C23.1812 25.9733 20.7998 27.644 16.6398 27.644C10.2038 27.644 5.17318 22.4533 5.17318 16.0173C5.17318 9.58133 10.2038 4.39067 16.6398 4.39067C20.1065 4.39067 22.6492 5.76 24.5158 7.52L27.5918 4.444C24.9958 1.92 21.5105 0 16.6398 0C7.82251 0 0.40918 7.18267 0.40918 16C0.40918 24.8173 7.82251 32 16.6398 32C21.4038 32 24.9958 30.436 27.8038 27.52C30.6838 24.64 31.5905 20.5693 31.5905 17.2973C31.5905 16.284 31.5198 15.3413 31.3598 14.56H16.6398Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}

.p-icon--google {
  @extend %icon;
  @include vf-icon-google($color-mid-dark);
}

@mixin vf-icon-archive($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath fill='#{vf-url-friendly-color($color)}'  fill-rule='evenodd' d='M2.5 4.5v-2h11v2zM15 6h-1v7.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V6H1V2.5A1.5 1.5 0 0 1 2.5 1h11A1.5 1.5 0 0 1 15 2.5zM3.5 6h9v7.5h-9zM10 7.25H6v1.5h4z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.p-icon--archive--negative {
  @extend %icon;
  @include vf-icon-archive($color-negative);
}

@mixin vf-icon-delete($color) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6v6a1.5 1.5 0 001.356 1.493L6 13.5h4a1.5 1.5 0 001.493-1.356L11.5 12V6H13v6a3 3 0 01-3 3H6a3 3 0 01-3-3V6h1.5zm3 0v5.994H6V6h1.5zm2.498 0v5.994h-1.5V6h1.5zM8.5 0A2.5 2.5 0 0111 2.5V3h3v1.5H2V3h3v-.5A2.5 2.5 0 017.5 0h1zm0 1.5h-1a1 1 0 00-.993.883L6.5 2.5V3h3v-.5a1 1 0 00-.883-.993L8.5 1.5z' fill='#{vf-url-friendly-color($color)}' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.p-icon--delete--negative {
  @extend %icon;
  @include vf-icon-delete($color-negative);
}

.p-icon--tidy--negative {
  @extend %icon;
  @include vf-icon-tidy($color-negative);
}

.p-icon--pause--negative {
  @extend %icon;
  @include vf-icon-pause($color-negative);
}

.p-icon--restart--negative {
  @extend %icon;
  @include vf-icon-restart($color-negative);
}

.p-icon--close--negative {
  @extend %icon;
  @include vf-icon-close($color-negative);
}

.p-icon--close--muted {
  @extend %icon;
  @include vf-icon-close($color-mid-dark);
}

.p-icon--security-tick--negative {
  @extend %icon;
  @include vf-icon-security-tick($color-negative);
}

.p-icon--information--muted {
  @extend %icon;
  @include vf-icon-info($color-mid-dark);
}

.p-icon--arrow-up--caution {
  @extend %icon;
  @include vf-icon-arrow-up($color-caution);
}
