@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.row {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 2.5rem 0 auto $sph--large;
  width: 13.5rem;
}

.file {
  padding: $spv--small 0 $spv--large;
}
