@import "vanilla-framework/scss/settings_spacing";

.content {
  display: flex;
  flex-grow: 1;
  overflow: visible;
  padding-bottom: $sp-unit * 4;
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.sidePanel {
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding-bottom: 0;
  z-index: var(--z-sidepanel);
}

.medium {
  width: 43rem !important;
}

.large {
  width: 80rem !important;
}
