.grouped {
  align-items: center;
  display: flex;
  gap: 1rem;

  :global(.p-segmented-control__list) {
    > :global(.p-contextual-menu) {
      > :global(.p-button) {
        border-radius: 0;
        margin-right: 0;
        position: relative;
      }
    }

    > :global(.p-contextual-menu):not(:first-child) {
      > :global(.p-button) {
        border-left-width: 0;
      }
    }

    > :global(.p-contextual-menu):not(:last-child) {
      > :global(.p-button) {
        border-right-width: 0;

        &::after {
          background-color: var(--vf-color-border-low-contrast);
          bottom: 0;
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 1.5px;
        }
      }
    }

    > :global(.p-contextual-menu) + :global(.p-segmented-control__button) {
      border-left: 0;
    }
  }
}
