@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";

.settingLabel {
  margin-right: $sph--x-small;
}

.tooltipPositionElement {
  display: inline !important;
}

.sectionTitle {
  margin-bottom: $spv--small;
}

.section {
  padding-top: $spv--large !important;
}
