@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_breakpoints";

.legendItem {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  @media (width >= 1300px) and (width < 1550px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.legendItem__icon {
  margin-right: $sp-small;
}

.legendItem__label {
  align-items: center;
  display: flex;
}

.legendItem__text {
  font-weight: 400;
}

.legendItem--active .legendItem__text {
  font-weight: 600;
}

.container {
  border-right: none;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  padding-right: 0;
  width: 100%;

  @media (min-width: $breakpoint-large) {
    border-right: 1px solid $colors--theme--border-default;
    padding-right: $sp-x-large;
  }

  @media (width >= 1300px) and (width < 1550px) {
    align-items: flex-start;
    flex-direction: column;
    gap: $sp-large;
    padding-right: 0;
  }
}
