@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";

.card {
  border: 1px solid $colors--theme--border-default;

  &:not(:last-child) {
    margin-bottom: $spv--x-large;
  }
}

.header {
  align-items: center;
  background-color: $colors--theme--background-alt;
  border-bottom: 1px solid $colors--theme--border-default;
  display: flex;
  justify-content: space-between;
  padding: $spv--small $sph--large;
}

.title {
  color: $colors--theme--text-default;
  font-size: $sp-medium;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
  padding-top: 0;
}

.snapshot {
  margin-left: $sph--small;
  margin-right: auto;

  &:not(:first-child)::before {
    color: $colors--theme--text-muted;
    content: "\007c";
    margin-right: $sph--small;
  }
}

.cta {
  & > * {
    margin-bottom: 0 !important;

    &:not(:last-child) {
      margin-right: $sph--small !important;
    }
  }
}

.content {
  padding-left: $sph--large;
  padding-right: $sph--large;

  table {
    margin-bottom: 0;
  }

  thead tr {
    border-bottom-color: $colors--theme--border-default;
  }

  td,
  th {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
