@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_spacing";
@import "vanilla-framework/scss/settings_breakpoints";
@import "vanilla-framework/scss/layouts_application";

.secondaryNavigationDrawer {
  align-self: flex-start;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
}

.secondaryNavigation {
  background-color: $colors--theme--background-alt !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  transition-duration: 0.165s;
  transition-property: width, box-shadow, background;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;

  @media (min-width: $breakpoint-small) {
    width: $application-layout--side-nav-width-expanded;
  }
}

.secondaryNavigation__drawer {
  max-width: 100%;
  min-height: 100%;
}

.secondaryNavigation__title {
  margin-top: $spv--large !important;
  padding-left: $sph--x-large;
}

.secondaryNavigation__link {
  &:hover {
    background-color: #262626 !important;
  }
}

.secondaryNavigation__label {
  color: $color-x-light;
}

.isActive {
  background-color: #262626 !important;
}

.footer {
  padding: $spv--x-small $sph--x-large;
}
