@import "vanilla-framework/scss/settings_colors";
@import "vanilla-framework/scss/settings_placeholders";
@import "vanilla-framework/scss/settings_spacing";

.searchContainer {
  padding-right: calc(
    2 * (2 * $sph--small + map-get($icon-sizes, default) + $bar-thickness)
  ) !important;

  & + :global(.p-search-and-filter__panel) {
    background-color: $colors--theme--background-default;
    z-index: var(--z-page-dropdown);
  }
}

.form {
  flex-basis: 8rem !important;
  margin-right: calc(
    -1 * (2 * $sph--small + map-get($icon-sizes, default))
  ) !important;
}

.searchBoxContainer {
  flex-grow: 1;
}

.input {
  margin-bottom: 0;
  margin-left: -0.5rem;

  :global(.p-search-box__input) {
    border-bottom: 0;
  }
}

.keyboardHint {
  border-top: 1px solid $colors--theme--border-default;
  padding: $spv--small $sph--large;

  kbd {
    background-color: $colors--theme--background-neutral-default;
    border: 1px solid $colors--theme--border-default;
    border-radius: 0.125rem;
    font-family: inherit;
    font-size: 0.75em;
    padding: 0 0.25rem;
  }
}
